<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringtxApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="springtx.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="hello.springtx.SpringtxApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>